/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {background-color:#F1F1F1;margin: 0;font-family: helvetica, sans-serif;}
 
#main_body_column {
	text-align:left;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	width:1040px;
	background-color:white;
}

#header_bar {
	background-color:#323232;
	color:white;
	font-family: helvetica, sans-serif;
}

.next_button {
	cursor:pointer;
	text-align:center;
	font-family:arial;
	color:white;
	background-color:rgb(230, 107, 38);
	border-radius:3px;
	width:150px;
	padding:10px;	
}

.private_data_bubble {
	float:left;
	background-color:#A8C9E0;
	border-radius:4px;
	margin:4px;
	padding:4px;
	font-family:helvetica, sans-serif;
	color:#16496E;
	font-size:13px;
	cursor:pointer;
	display:none;
}

.hide_data_bubble {
	position:absolute;
	background-color:#A8C9E0;
  color:#16496E;
  font-family:helvetica, sans-serif;
  font-size:12px;
  border-radius:4px;
  padding:4px;
  cursor:pointer;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
}

.hide_suggestions_title {
	font-style:italic;
	color:#BBB;
	font-size:10px;
}

.step_header {
	font-weight:bold;
	color:#16496E;
	font-size:17px;	
	margin-bottom:10px;
}

.step_description {
	font-size:14px;
	margin-bottom:15px;
	line-height:19px;
}


#canvas_container {
		top:0px;
		left:0px;
		position:absolute;
		cursor:pointer;
	}
	.feedback_enabled {
		background-color:#8ba8ea;
		font-weight:bold;
	}
	
	.feedback_disabled {
		background-color:#eceff3;
		font-weight:bold;
	}
	
.feedback_tab_left {
	color:#213b89;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	padding-right:20px;
	cursor:pointer;
	float:left;
	border-top-left-radius:10px;
	font-size:11px;
	border-right:2px solid white;
	width:90px;
	text-align:center;
}
.feedback_tab {
	color:#213b89;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	padding-right:20px;
	cursor:pointer;
	float:left;
	font-size:11px;
	border-right:2px solid white;
	width:90px;
	text-align:center;
}

.feedback_tab_right {
	color:#213b89;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	padding-right:20px;
	cursor:pointer;
	float:left;
	border-top-right-radius:10px;
	font-size:11px;
	width:90px;
	text-align:center;
}

	.ReviewerFeedback {
	}
	
	.ReviewerFeedback .Person {
	}
	
	.ReviewerFeedback .Person .Name {
		background-color: #FAFAFA;
		border:1px solid #CCC;
		padding:13px;
		color:#232323;
		font-size:15px;
		position:relative;
		height:36;
		font-weight:bold;
	}
	
	.ReviewerFeedback .Person .Name .FeedbackCount{
		position:absolute;
		right:15px;
		top:15px;
		background-color:rgb(116, 139, 211);
		color:white;
		font-size:13px;
		min-width:20px;
		border-radius:4px;
		text-align:center;
	}

	.ReviewerFeedback .Person .Item {
		background-color: #EEF0F7;
		padding:13px;
		padding-top:9px;
		padding-bottom:9px;
		color:#232323;
		margin-bottom:1px;
		width:85%;
		font-size:11px;
		min-height:34px;
		float:right;
		cursor:pointer;
	}
	
	.ReviewerFeedback .Person .Item .Active {
		background-color: #E1E7F7;
	}
	
	.clear {
		clear:both;
	}
	
	.NoteBubble{
		background-color:rgb(116, 139, 211);
		color:white;
		border-radius:10px;
		padding:13px;
		font-size:12px;
		position:absolute;
	}
	
	.NoteCreateBubble{
		background-color:silver;
		border:1px solid gray;
		border-radius:10px;
		padding:3px;
		font-size:12px;
		position:absolute;
	}
	
	.AnnotationNote {
		bottom:15px;
		position:fixed;
		background-color:black;
		color:white;
		opacity:0.8;
		padding:12px;
		border-radius:12px;
		width:400px;
		text-align:center;
	}
	
	
.keyword_suggestion {
	float:left;
	background-color:#b1c7f2;
	border-radius:4px;
	margin:4px;
	padding:4px;
	font-family:helvetica, sans-serif;
	color:#3b5a9b;
	font-size:13px;
	cursor:pointer;
	display:none;
}
