<!DOCTYPE html>
<html>
<head>
	<meta property="og:title" content="Adam would like you to review his resume."/>
	<meta property="og:url" content="http://resumecritique.herokuapp.com/resume/critique"/>
	<meta property="og:image" content="http://resumecritique.herokuapp.com/resume/critique/image.jpg"/>
	<meta property="og:site_name" content="CareerBuilder - Resume Critique"/>
	<meta property="og:description"
				content="Adam would love it if you could review and critique his resume.  It's fast, simple and could help Adam land that next dream job!"/>
				
  <title>CareerBuilder: Resume Critique</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
