<!DOCTYPE html>
<html>
<head>
	<meta property="og:title" content="Adam would like you to review his resume."/>
	<meta property="og:url" content="http://resumecritique.herokuapp.com/resume/critique"/>
	<meta property="og:image" content="http://resumecritique.herokuapp.com/resume/critique/image.jpg"/>
	<meta property="og:site_name" content="CareerBuilder - Resume Critique"/>
	<meta property="og:description"
				content="Adam would love it if you could review and critique his resume.  It's fast, simple and could help Adam land that next dream job!"/>
				
  <title>CareerBuilder: Resume Critique</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link rel="stylesheet" type="text/css" href="http://img.icbdr.com/v21.61/css/jobseeker/global/jsglobal.css">
</head>
<body>

<div class="cbHeader clearfix">
    <div class="header_wrapper clearfix">
        <div class="clearfix mainHeaderInner css3">      
            
              
            <a id="_ctl0_cbhlLogoNew" title="Click to go to the Careerbuilder.com homepage" class="logoHomeLink" href="http://www.careerbuilder.com/"><img src="http://img.icbdr.com/images/js/logocb.gif" border="0" alt="Careerbuilder.com Job Search" title="Careerbuilder.com Job Search"></a>
            <div class="empLink clearfix">
                
                        <a id="_ctl0_mxsrEmployerLinks__ctl0_Cbhyperlink1" href="http://www.careerbuilder.com/jobposter/?sc_cmp2=JS_HP_Nav_Employers">Employers:</a>       
                    
                        <a id="_ctl0_mxsrEmployerLinks__ctl1_Cbhyperlink1" href="http://www.careerbuilder.com/jobposter/products/postjobsinfo.aspx?sc_cmp2=JS_HP_Nav_PostJobNow">Post Jobs |</a>       
                    
                        <a id="_ctl0_mxsrEmployerLinks__ctl2_Cbhyperlink1" href="http://www.careerbuilder.com/jobposter/products/searchresumesinfo.aspx?sc_cmp2=JS_HP_Nav_SearchResumes">Search Resumes</a>       
                    
            </div>
            <div class="welcomeWrapper clearfix">
                <span id="_ctl0_lblWelcomeNew">Hi Adam Parker!</span>&nbsp;&nbsp;
                    
                <a id="_ctl0_cblSignInKnownNew" rel="nofollow" href="http://www.careerbuilder.com/share/login.aspx">
                    Sign In &gt;&gt;
                </a>
                    
                
	            &nbsp;&nbsp;
	            <a id="_ctl0_cbhlOld" rel="nofollow" href="http://www.careerbuilder.com/jobseeker/help/">
	                Help
                </a>

                
	            &nbsp;&nbsp;
	            <a id="_ctl0_Cbhyperlink2" rel="nofollow" href="http://www.careerbuilder.com/jobseeker/info/fraud.aspx">
	            Security
	            </a>
	                
                

                                    
            </div>        
        </div>
    </div>   
    

<div class="cb_nav large-device highZIndex clearfix">
	    

	    <div id="_ctl0_NavBar1_pnlNavWrapper" class="nav_wrapper clearfix">
	 
        
		<ul class="navlist highZIndex clearfix">
			<li id="_ctl0_NavBar1_navhome" class="l highZIndex home"><a id="_ctl0_NavBar1_cbhlNavHome" escapecategorysubdomains="True" title="Home" href="http://www.careerbuilder.com/?sc_cmp2=JS_Nav_Home"></a></li>
			<li id="_ctl0_NavBar1_navMyCB" class="highZIndex"><a id="_ctl0_NavBar1_cbhlMyCB" href="https://www.careerbuilder.com/share/login.aspx?sc_cmp2=JS_Nav_MyCB_Login">My CareerBuilder</a>
			    
			    <ul class="MyCB highZIndex">
			        <li class="first"><a id="_ctl0_NavBar1_cbhlMyCB2" rel="nofollow" href="https://www.careerbuilder.com/share/login.aspx?sc_cmp2=JS_Nav_MyCB_Login">My CareerBuilder</a></li>
			        <li><a rel="nofollow" href="http://www.careerbuilder.com/JobSeeker/Jobs/MySavedJobs.aspx?sc_cmp2=JS_Nav_MyCB_Jobs&amp;sjsrc=wg">Saved Jobs and Applications</a></li>
			        
			        <li><a id="_ctl0_NavBar1_cbhlEditProfile" rel="nofollow" href="http://www.careerbuilder.com/JobSeeker/Resumes/PostResumeNew/postresumestart.aspx?sc_cmp2=JS_Postresume_Button">Post Resume</a></li>
			        <li><a rel="nofollow" href="http://www.careerbuilder.com/JobSeeker/Info/Fraud.aspx?sc_cmp2=JS_Nav_MyCB_Fraud">Fraud Protection</a></li>
                </ul>
			    
			</li>
			<li id="_ctl0_NavBar1_navFindJobs"><a href="http://jobs.careerbuilder.com/?sc_cmp2=JS_Nav_FindJobs">Find Jobs</a>			
			    <ul class="FindJobs highZIndex">
			        <li class="first"><a href="http://jobs.careerbuilder.com/?sc_cmp2=JS_Nav_FindJobs">Find Jobs</a></li>
			        <li><a rel="nofollow" href="http://www.careerbuilder.com/JobSeeker/jobalerts/myjobalerts.aspx?sc_cmp2=JS_Nav_FJ_JobAlert">Setup Email Alert</a></li>
			        <li><a id="_ctl0_NavBar1_hlAdvSearch" href="http://www.careerbuilder.com/JobSeeker/Jobs/AdvancedSearch.aspx">Advanced Search</a></li>
				    <li><a href="http://www.careerbuilder.com/EmployerProfile/CompanySearch.aspx">Company Search</a></li>
                </ul>			
			</li>
			<li id="_ctl0_NavBar1_navJobRecs" class="active"><a href="http://www.careerbuilder.com/JobSeeker/Resumes/RecommendedHQ.aspx?sc_cmp2=JS_Nav_JobRecs">Job Recommendations</a></li>
			<li id="_ctl0_NavBar1_navPostResume">
			    <a rel="nofollow" href="http://www.careerbuilder.com/JobSeeker/Resumes/PostResumeNew/PostYourResume.aspx?sc_cmp2=JS_Nav_PostRes">Post Resumes</a>
    			   
			    <ul class="postresumes highZIndex">
			        <li class="first"><a rel="nofollow" href="http://www.careerbuilder.com/JobSeeker/Resumes/PostResumeNew/PostYourResume.aspx?sc_cmp2=JS_Nav_PostRes">Post Resumes</a></li>
			            
			        <li><a href="http://www.careerbuilder.com/JobSeeker/products/resumeupgrade.aspx?sc_cmp2=JS_Nav_PR_Upgrade&amp;cblid=scpruprmn1">Upgrade Resume</a></li>
			        <li><a href="http://www.careerbuilder.com/JobSeeker/Resumes/SR_Start.aspx?sc_cmp2=JS_Nav_PR_Write&amp;cblid=scpsrprmn1">Resume Writing</a></li>
				</ul>
    			    
			</li>
            <li id="_ctl0_NavBar1_navAdvice">
				<a href="http://www.careerbuilder.com/JobSeeker/Resources/CareerResources.aspx">Advice &amp; Resources</a>
				<ul class="advice highZIndex">
					<li class="first"><a href="http://www.careerbuilder.com/JobSeeker/Resources/CareerResources.aspx?sc_cmp2=JS_Nav_AdvRes">Advice &amp; Resources</a></li>
					<li><a href="http://www.careerbuilder.com/JobSeeker/Products/toolkit.aspx?sc_cmp2=JS_Nav_CarRes">Career Resources</a></li>                 
				    <li><a href="http://salary.careerbuilder.com/" target="_blank">Salary Calculator</a></li>
				    <li><a href="http://www.careerpath.com/career-tests/?utm_source=cbhome&amp;utm_medium=ardrop&amp;utm_content=careertests" target="_blank">Career Tests</a></li>
                    <li><a href="http://www.careerbuilder.com/JobSeeker/JobReport/?sc_cmp2=JS_Nav_AdvRes_HireInsider&amp;cblid=scphiadvmn1">hireINSIDER</a></li>
                    <li><a id="_ctl0_NavBar1_careerinsights" href="https://my.careerbuilder.com/?site_id=CB_HOME">Career Insights</a></li> 
				</ul>
			</li>
			
			    			    
		</ul>
	    
</div>
       
</div>



<!-- Begin QuickBarV2 -->
<div class="quickSearchBar clearfix">
    <div class="quickbar_inner css3 clearfix"> 
        <div class="narrowWidth clearfix"> <!-- this is temp -->
            <div class="searchBox quickbar_small clearfix">
            <span class="heading">Search</span>
            <form id="_ctl0_NavBar1_ucQuickBar_mxfSearch" action="/Jobseeker/Jobs/JobResults.aspx" method="Get">
                <input type="hidden" name="IPath" value="QH">
                <input type="hidden" name="qb" value="1">
                
                <div class="inputWrapper">
                    <label for="s_rawwords">Keywords <span class="example">Ex. Registered Nurse or Sales</span></label>
                    <input id="s_rawwords" name="s_rawwords" maxlength="512" type="text" class="cbautocomplete-keywords ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                </div>
                
                <div id="AutoComplete" class="inputWrapper">
                    <label for="s_freeloc">Location <span class="example">Ex. Chicago IL or 60607</span></label>
                    <input class="cbautocomplete-location ui-autocomplete-input" id="s_freeloc" type="text" name="s_freeloc" value="Norcross, Georgia" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                </div>
                
                
                
                <div class="inputWrapper narrowbox">
                                        
	                <input type="submit" class="btn" id="qsbButton" value="Find Jobs" title="Find Jobs">
                </div>
                
                
                <div class="savedSearchesWrapper inputWrapper narrowbox clearfix">
                    <a title="Save a Search" href="http://www.careerbuilder.com/JobSeeker/JobAlerts/MyJobAlerts.aspx?sc_cmp1=JS_QuickBarSetUpAlert">Save a Search &gt;&gt;</a>
                    <select id="ddlSavedSearches2" class="savedSearches" disabled="disabled">
                        <option value="">Saved Searches</option>
                        
                    </select>
                </div>
                
            </form>
        </div>     
        
        
        </div>
    </div>
</div>
<!-- End QuickBarV2 -->
</div>
<%= yield %>

</body>
</html>
